.card-image {
  padding: 20%;
}
.dollar-card {
  background-color: #85bb65;
}
.euro-card {
  background-color: #9b65bb;
}
@media (min-width: 320px) and (max-width: 480px) {
  .column {
    margin-top: 10%;
  }
}
